{% extends "layout.html.twig" %}

{% block title %}news{% endblock %}
{% block title_baseline %}News{% endblock %}
{% block content %}
<div class="container">

  {% for new in news_pager.getIterator() %}
              <div class="row">
                  <div class="col-md-12">
          <h3><a href="{{ app.url_generator.generate('blog_show', { 'slug': new.slug }) }}">{{ new.title }}</a><br/><small> published {{ new.age }}</small></h3>
          {% autoescape false %}<p>{{ new.content }}... <a href="{{ app.url_generator.generate('blog_show', { 'slug': new.slug }) }}">read more</a></p>{% endautoescape %}
                      <hr/>
      </div></div>
  {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div class="align-center">
              <ul class="pagination">
  {% if news_pager.isPreviousPage %}
                <li><a href="{{ app.url_generator.generate('blog_index', {"page": news_pager.getPage() - 1 }) }}">&laquo;</a></li>
  {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
  {% endif %}
  {% for page in 1..news_pager.getLastPage() %}
    {% if page == news_pager.getPage() %}
                <li class="active"><a href="{{ app.url_generator.generate('blog_index', { "page": page }) }}">{{ page }}</a></li>
    {% else %}
                <li><a href="{{ app.url_generator.generate('blog_index', { "page": page }) }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}
  {% if news_pager.isNextPage() %}
                <li><a href="{{ app.url_generator.generate('blog_index', {"page": news_pager.getPage() + 1 }) }}">&raquo;</a></li>
  {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
  {% endif %}
              </ul>
            </div>
          </div>
        </div>
</div>
{% endblock %}
