{% extends "layout.html.twig" %}

{% block title %}news{% endblock %}

{% block content %}
        <div class="row">
          <div class="col-md-12">
  {% for new in news_pager.getIterator() %}
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3><a href="{{ app.url_generator.generate('blog_show', { 'slug': new.slug }) }}">{{ new.title }}</a><small> ({{ new.published_at | date('Y-m-d') }})</small></h3>
              </div>
              <div class="panel-body">
                {% autoescape false %}{{ new.content }}... <a href="{{ app.url_generator.generate('blog_show', { 'slug': new.slug }) }}">read more</a>{% endautoescape %}
              </div>
            </div>
  {% endfor %}
            <div class="align-center">
              <ul class="pagination">
  {% if news_pager.isPreviousPage %}
                <li><a href="{{ app.url_generator.generate('blog_index', {"page": news_pager.getPage() - 1 }) }}">&laquo;</a></li>
  {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
  {% endif %}
  {% for page in 1..news_pager.getLastPage() %}
    {% if page == news_pager.getPage() %}
                <li class="active"><a href="{{ app.url_generator.generate('blog_index', { "page": page }) }}">{{ page }}</a></li>
    {% else %}
                <li><a href="{{ app.url_generator.generate('blog_index', { "page": page }) }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}
  {% if news_pager.isNextPage() %}
                <li><a href="{{ app.url_generator.generate('blog_index', {"page": news_pager.getPage() + 1 }) }}">&raquo;</a></li>
  {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
  {% endif %}
              </ul>
            </div>
          </div>
        </div>
{% endblock %}
