{% extends "layout.html.twig" %}

{% block title %}{{ news.title }}{% endblock %}
{% block title_baseline %}{{ news.title }}{% endblock %}
{% block acroche_baseline %}
    Posted on {{ news.published_at|date('Y-m-d') }}
{% endblock %}
{% block css %}    <link href="/css/vim.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-md-12">

{% autoescape false %}
{{ news.content }}
{% endautoescape %}


                <ul class="pager">
    {% if news.prev_slug != '' %}
                  <li class="previous"><a class="btn btn-default" href="{{ app.url_generator.generate("blog_show", {"slug": news.prev_slug }) }}">&larr; Older</a></li>
    {% else %}
                  <li class="previous disabled"><a class="btn btn-default" href="#">&larr; Older</a></li>
    {% endif %}
                  <li><a class="btn btn-default" href="{{ app.url_generator.generate('blog_index') }}">&uarr; up &uarr;</a></li>
    {% if news.next_slug != '' %}
                  <li class="next"><a class="btn btn-default" href="{{ app.url_generator.generate("blog_show", {"slug": news.next_slug }) }}">Newer &rarr;</a></li>
    {% else %}
                  <li class="next disabled"><a class="btn btn-default" href="#">Newer &rarr;</a></li>
    {% endif %}

                </ul>

        </div><!-- row -->
    </div>
    </div>
{% endblock %}

