{% extends "layout.html.twig" %}

{% block title %}home{% endblock %}
{% block css %}        <link href="/css/index.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3><img src="/images/icons/efficient.png" width="32"/> Pragmatic approach</h3>
              </div>
              <div class="panel-body">
              <strong>Tired of your ORM limitations ?</strong>
              <p>Since 4 years, Pomm sets the database at developers fingertips without the arduousness of an abstraction layer. It grants developers with unlimited access to SQL and database features while proposing a high level API over low level drivers.</p>
                <p><br /><a href="{{ app.url_generator.generate('main_about') }}">Read more&#133;</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3><img src="/images/icons/enterprise.png" width="32"/> Efficient &amp; easy</h3>
              </div>
              <div class="panel-body">
              <strong>Be productive in a matter of seconds.</strong>
              <p>With its client oriented kernel, Pomm2 gives an easy access to powerful Postgresql features. It also comes with a CLI tool to help developers inspect database structures and generate mapping classes.<br />Using a modular distribution is the best way to comply with everyone's way of doing the things.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3><img src="/images/icons/pragmatic.png" width="32"/> Enterprise ready</h3>
              </div>
              <div class="panel-body">
              <strong>On the shoulders of giants</strong>
              <p>Pomm is dedicated to let developers the full usage of Postgresql™, the most advanced open source database.<br />It has a comprehensive documentation and modules to be used with modern frameworks like Silex™, Symfony™ or Zend™. Pomm2 complies with <a href="http://www.php-fig.org/psr/psr-2/">PSR-2</a>, <a href="http://semver.org/">semver</a> standards and proposes a controlled cycle of releases.</p>
              </div>
            </div>
          </div>
        </div> <!-- row -->

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3><img src="/images/icons/document.png" width="32"/> Documentation</h3>
              </div>
              <div class="panel-body">
                <table class="table table-condensed" style="margin-bottom: 0px;">
                  <tr>
                    <th>
                      Official documentation
                    </th>
                    <th>
                      Howto
                    </th>
                    <th>
                      Tutorial
                    </th>
                    <th>
                      find help
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd>Pomm 1.2 <a href="{{ app.url_generator.generate('documentation', { 'version': '1.2' }) }}">documentation</a> | <a href="/api/index.html">API</a></dd>
                        <dd>Pomm 2.0 <a href="/api2/index.html">API</a></dd>
                      </dl>
                    </td>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd><a href="{{ app.url_generator.generate('main_sandbox2') }}">Pomm 2.0 in few steps</a></dd>
                        <dd><a href="{{ app.url_generator.generate('main_install') }}">Install Pomm 1.x</a></dd>
                        <dd><a href="{{ app.url_generator.generate('main_sandbox') }}">Pomm 1.x in few steps</a></dd>
                        <dd><a href="{{ app.url_generator.generate('main_examples') }}">Code examples 1.x</a></dd>
                        <!--<dd><a href="#">Useful Gists</a></dd>-->
                      </dl>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd><a href="https://github.com/chanmix51/elcaro/blob/english/documentation/article.md">English 1.x</a></dd>
                        <dd><a href="https://github.com/chanmix51/elcaro/blob/master/documentation/article.md">French 1.x</a></dd>
                      </dl>
                    </td>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd>IRC: irc.freenode.net #pomm</dd>
                        <dd><a href="https://groups.google.com/forum/#!forum/pommproject">Mailing list</a>
                      </dl>
                    </td>
                  </tr>
                </table>
              </div>
            </div> <!-- panel -->
          </div>
        </div> <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3><img src="/images/icons/arrow_down.png" width="32"/> Download</h3>
              </div>
              <div class="panel-body">
                <table class="table table-condensed" style="margin-bottom: 0px;">
                  <tr>
                    <th>
                      Pomm
                    </th>
                    <th>
                      <a href="http://silex.sensiolabs.org/">Silex</a>
                    </th>
                    <th>
                      <a href="http://symfony.com/">Symfony2</a>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd><a href="https://github.com/chanmix51/Pomm/archive/master.zip">Pomm 1.3</a> (stable)</dd>
                        <dd><a href="https://github.com/chanmix51/Pomm/archive/1.2.zip">Pomm 1.2</a> (stable)</dd>
                        <dd>Github <a href="https://github.com/chanmix51/Pomm">1.x</a>, <a href="https://github.com/pomm-project">2.0</a></dd>
                      </dl>
                    </td>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd><a href="https://github.com/chanmix51/PommServiceProvider">PommServiceProvider</a> (1.2)</dd>
                        <dd><a href="https://github.com/pomm-project/pomm-service-provider">PommServiceProvider</a> (2.0)</dd>
                        <dd><a href="https://github.com/pomm-project/pomm-profiler-service-provider">PommProfilerServiceProvider</a> (2.0)</dd>
                      </dl>
                    </td>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd><a href="https://github.com/chanmix51/PommBundle">PommBundle</a> (1.2)</dd>
                        <dd><a href="https://github.com/fferriere/PommFosUserBundle">PommFosUserBundle</a> (1.2)</dd>
                      </dl>
                    </td>
                  </tr>
                </table>
              </div>
            </div> <!-- panel -->
          </div>
        </div> <!-- row -->
{% endblock %}
