{% extends "layout.html.twig" %}

{% block title %}home{% endblock %}
{% block css %}        <link href="/css/index.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
  <div class="jumbotron" id="headerhome">
    <div class="container">
      <h1><img src="/images/Pomm.png" /></h1>
      <h2>The Postgresql object model manager for PHP</h2>
      <p>Pomm is an open source database access framework coupled with an Object Model Manager dedicated to the Postgresql™ database. It offers an alternative approach than ORM to using database in web developments.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 accroche">
        <div class="header_accroche">
          <img src="/images/icons/efficient.png" width="55"/>
          <h2>Pragmatic approach</h2>
        </div>
        <p><span class="uppercase">Tired of your ORM limitations ?</span><br/>
          Since 4 years, Pomm sets the database at developers fingertips without the arduousness of an abstraction layer.<br/> It grants developers with unlimited access to SQL and database features while proposing a high level API over low level drivers.</p>
        <p><a class="btn btn-default" href="{{ app.url_generator.generate('main_about') }}" role="button">View details »</a></p>
      </div>
      <div class="col-md-4 accroche">
        <div class="header_accroche">
          <img src="/images/icons/enterprise.png" width="55"/>
          <h2> Efficient &amp; easy</h2>
        </div>
        <p><span class="uppercase">Be productive in a matter of seconds.</span><br/>
          With its client oriented kernel, Pomm2 gives an easy access to powerful Postgresql features. It also comes with a CLI tool to help developers inspect database structures and generate mapping classes.<br />Using a modular distribution is the best way to comply with everyone's way of doing the things.
        </p>
      </div>
      <div class="col-md-4 accroche">
        <div class="header_accroche">
          <img src="/images/icons/pragmatic.png" width="55"/>
          <h2>Enterprise ready</h2>
        </div>
        <p><span class="uppercase">On the shoulders of giants</span><br/>
          Pomm is dedicated to let developers the full usage of Postgresql™, the most advanced open source database.<br />It has a comprehensive documentation and modules to be used with modern frameworks like Silex™, Symfony™ or Zend™. Pomm2 complies with <a href="http://www.php-fig.org/psr/psr-2/">PSR-2</a>, <a href="http://semver.org/">semver</a> standards and proposes a controlled cycle of releases.
        </p>
      </div>
    </div>

  </div>
  <div id="homeproject">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Features</h3>
          <div class="col-md-3 col-xs-6">
            <p>
              <span class="sstitle">On the fly type conversion</span><br/>
              UUID, geometric types<br/>HStore, arrays<br/>inet, JSON etc.
            </p>
          </div>
          <div class="col-md-3 col-xs-6">
            <p>
              <span class="sstitle">Object oriented entities</span><br/>
              Unlimited access to SQL<br/>Iterators on results<br/>Embedded entities
            </p>
          </div>
          <div class="col-md-3 col-xs-6">
            <p>
              <span class="sstitle">Postgresql to the fingertips</span><br/>
              LISTEN / NOTIFY support<br/>Transactions and savepoints<br/>Multiple inheritance
            </p>
          </div>
          <div class="col-md-3 col-xs-6">
            <p>
              <span class="sstitle">Crafted with tools</span><br/>
              Database introspection<br/>Code generators<br/>Condition builder<br/><a href="{{ app.url_generator.generate('main_whatis') }}">See how it works…</a>
            </p>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Documentation</h3>
          <div class="col-md-3 col-xs-6">
            <p>
              <span class="sstitle">Official</span><br/>
              Pomm 1.2 <a href="{{ app.url_generator.generate('documentation', { 'version': '1.2' }) }}">documentation</a> | <a href="/api/index.html">API</a><br/>
              Pomm 2.0 <a href="/api2/index.html">API</a><br/>
              Pomm 2.0 <a href="https://github.com/pomm-project/ModelManager#pomm-modelmanager">Model Manager</a><br/>
              Pomm 2.0 <a href="https://github.com/pomm-project/Foundation#foundation">Foundation</a><br/>
              Pomm 2.0 <a href="https://github.com/pomm-project/Cli#cli">Cli</a>
            </p>
          </div>
          <div class="col-md-3 col-xs-6">
            <p>
              <span class="sstitle">Howto</span><br/>
              <a href="{{ app.url_generator.generate('main_whatis') }}">What is Pomm 2</a><br/>
              <a href="{{ app.url_generator.generate('main_sandbox2') }}">Pomm 2.0 in few steps</a><br/>
              <a href="{{ app.url_generator.generate('main_install') }}">Install Pomm 1.x</a><br/>
              <a href="{{ app.url_generator.generate('main_sandbox') }}">Pomm 1.x in few steps</a><br/>
              <a href="{{ app.url_generator.generate('main_examples') }}">Code examples 1.x</a>
            </p>
          </div>
          <div class="col-md-3 col-xs-6">
            <p>
              <span class="sstitle">Tutorial</span><br/>
              <a href="https://github.com/chanmix51/elcaro/blob/english/documentation/article.md">English 1.x</a><br/>
              <a href="https://github.com/chanmix51/elcaro/blob/master/documentation/article.md">French 1.x</a><br/>
            </p>
          </div>
          <div class="col-md-3 col-xs-6">
            <p>
              <span class="sstitle">Help</span><br/>
              IRC: irc.freenode.net #pomm<br/>
              <a href="https://groups.google.com/forum/#!forum/pommproject">Mailing list</a>
            </p>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <h3>Download</h3>
          <div class="col-md-3">
            <p>
              <span class="sstitle">Pomm</span><br/>
              UUID, geometric types<br/>HStore, arrays<br/>inet, JSON etc.
            </p>
          </div>
          <div class="col-md-3">
            <p>
              <span class="sstitle">Silex</span><br/>
              Unlimited access to SQL<br/>Iterators on results<br/>Embedded entities
            </p>
          </div>
          <div class="col-md-3">
            <p>
              <span class="sstitle">Symfony2</span><br/>
              LISTEN / NOTIFY support<br/>Transactions and savepoints<br/>Multiple inheritance
            </p>
          </div>
        </div>
      </div>
  </div>

  </div>
{% endblock %}
