{% extends "layout.html.twig" %}

{% block content %}
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"><a href="{{ app.url_generator.generate('main_about') }}"><img src="/images/icons/button_help.png" /> About Pomm</a></h2>
              </div>
              <div class="panel-body">
                <p>
Pomm is an open source database access framework. Pomm is not an ORM, it is an Object Model Manager. <br />
It offers an alternative approach than ORM to using database in web developments. Pomm makes developers able to leverage Postgresql's features to shape data structures that fit business processes while keeping a hand on performances. <a href="{{ app.url_generator.generate('main_about') }}">Read more&#133;</a>
                <p>
                  <dl>
                    <dt>Some key features</dt>
                    <dd>&#10149; Faster than any ORM</dd>
                    <dd>&#10149; Object oriented model layer</dd>
                    <dd>&#10149; Native conversion of almost all Postgres types (HSTore, composite types&#133;)</dd>
                    <dd>&#10149; Unrestricted access to SQL if needed with query helpers</dd>
                    <dd>&#10149; Database structure introspection tools</dd>
                    <dd>&#10149; LISTEN / NOTIFY Postgresql asynchronous messaging support</dd>
                  </dl>
                </p>
              </div>
            </div> <!-- panel -->
          </div>
        </div> <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"><a href="#"><img src="/images/icons/document.png" /> Documentation</a></h2>
              </div>
              <div class="panel-body">
                <table class="table table-condensed" style="margin-bottom: 0px;">
                  <tr>
                    <th>
                      Official documentation
                    </th>
                    <th>
                      Howto
                    </th>
                    <th>
                      Tutorial (1.2)
                    </th>
                    <th>
                      Code examples
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd>Pomm 1.2 <a href="{{ app.url_generator.generate('documentation', { 'version': '1.2' }) }}">documentation</a> | <a href="/api/index.html">API</a></dd>
                        <dd>Pomm 1.1 <a href="{{ app.url_generator.generate('documentation', { 'version': '1.1' }) }}">documentation</a></dd>
                        <dd>Pomm 1.0 <a href="{{ app.url_generator.generate('documentation', { 'version': '1.0' }) }}">documentation</a></dd>
                      </dl>
                    </td>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd><a href="#">Install Pomm</a></dd>
                      </dl>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd><a href="#">English</a></dd>
                        <dd><a href="#">French</a></dd>
                      </dl>
                    </td>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd><a href="#">Pomm 1.2</a></dd>
                        <dd><a href="#">Useful Gists</a></dd>
                      </dl>
                    </td>
                  </tr>
                </table>
              </div>
            </div> <!-- panel -->
          </div>
        </div> <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"><a href="#"><img src="/images/icons/arrow_down.png" /> Download</a></h2>
              </div>
              <div class="panel-body">
                <table class="table table-condensed" style="margin-bottom: 0px;">
                  <tr>
                    <th>
                      Pomm
                    </th>
                    <th>
                      <a href="https://github.com/chanmix51/PommServiceProvider">Silex</a>
                    </th>
                    <th>
                      <a href="https://github.com/chanmix51/PommBundle">Symfony2</a>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd><a href="https://github.com/chanmix51/Pomm/archive/master.zip">Pomm 1.2.0</a> (stable)</dd>
                        <dd><a href="https://github.com/chanmix51/Pomm/archive/1.1.zip">Pomm 1.1.4</a> (stable)</dd>
                        <dd><a href="https://github.com/chanmix51/Pomm/archive/1.0.6.zip">Pomm 1.0.6</a> (deprecated)</dd>
                      </dl>
                    </td>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd><a href="#">PommServiceProvider</a></dd>
                      </dl>
                    </td>
                    <td>
                      <dl style="margin-bottom: 0px;">
                        <dd><a href="#">PommBundle</a></dd>
                      </dl>
                    </td>
                  </tr>
                </table>
              </div>
            </div> <!-- panel -->
          </div>
        </div> <!-- row -->
{% endblock %}
